///*------------------------------------*\
//    # SOCIAL
//\*------------------------------------*/

/**
 * Social, or external links, layout.
 */
.c-portfolio-social__items {
  display: flex;
  list-style: none;
}

.c-portfolio-social__item {
  @include jm-typography('double-pica');
  padding: .5em;
  transition: transform .2s;

  &:hover {
    transform: scale(1.5);
  }

  @include mq($from: u-bp-m, $and: ('(max-height: 500px)')) {
    @include jm-typography('pica');
  }
}

.c-portfolio-social__lnk {
  color: $portfolio-page-header-primary-bg-color;
  text-decoration: none;
}
