///*------------------------------------*\
//    # PROJECTS
//\*------------------------------------*/

/**
 * Projects page layout.
 */
$portfolio-projects-project-balloon-arrow-height: 9vmin;
$portfolio-projects-project-balloon-arrow-margin: 14vw;
$portfolio-projects-project-margin-for-nav: 10vw;

.c-portfolio-projects {
  flex: 1 1 100%; // IE
  margin: 0 auto; // fallback for no flexbox
  list-style: none;
  padding-bottom: $portfolio-projects-project-balloon-arrow-height;
}

.c-portfolio-projects__project {
  margin-top: 1vh;
  position: relative;
  background-color: #F90;
  border-radius: .5rem;

  &:first-child {
    margin-top: 2vh;
  }

  &:nth-child(odd) {
    background-color: #09F;
    color: #D0EB2A;

    @include mq($from: u-bp-l) {
      margin-left: $portfolio-projects-project-balloon-arrow-margin;
      border-bottom-right-radius: 0;

      &:after {
        content: "";
        height: $portfolio-projects-project-balloon-arrow-height;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 427.9 175.1 132.1" preserveAspectRatio="xMinYMid"><path stroke="#33ADFF" fill="#33ADFF" d="M0 427.9l175.1 65.7-43.7-65.7z"/><path fill="#0062A3" d="M175.1 493.6l-87.5 21.9v-54.8"/><path fill="#33ADFF" d="M87.6 515.5l21.2 44.5v-49.8"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
        transform: rotateY(180deg);
      }
    }
  }

  &:nth-child(even) {
    @include mq($from: u-bp-l) {
      margin-right: $portfolio-projects-project-balloon-arrow-margin;
      border-bottom-left-radius: 0;

      &:after {
        content: "";
        height: $portfolio-projects-project-balloon-arrow-height;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 427.9 175.1 132.1" preserveAspectRatio="xMinYMid"><path stroke="#FFAD33" fill="#FFAD33" d="M0 427.9l175.1 65.7-43.7-65.7z"/><path fill="#A36200" d="M175.1 493.6l-87.5 21.9v-54.8"/><path fill="#FFAD33" d="M87.6 515.5l21.2 44.5v-49.8"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
      }
    }
  }
}

.c-portfolio-projects__project:nth-child(odd) > .c-portfolio-project > .c-portfolio-media-asset {
  background-color: #0062A3;
  order: 1;

  &::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-bottom: 0;
    border-left: .75em solid transparent;
    border-top: .75em solid #0062A3;
    border-right: .75em solid transparent;
  }

  @include mq($from: u-bp-m) {
    &::before {
      left: 100%;
      top: inherit;
      transform: translateX(0);
      border-bottom: .75em solid transparent;
      border-left: .75em solid #0062A3;
      border-top: .75em solid transparent;
      border-right: 0;
    }
  }
}

.c-portfolio-projects__project:nth-child(odd) > .c-portfolio-project > .c-portfolio-project__body {
  order: 2;

  @include mq($from: u-bp-m) {
    order: 1;
  }
}

.c-portfolio-projects__project:nth-child(even) > .c-portfolio-project > .c-portfolio-media-asset {
  order: 2;
  background-color: #A36200;

  &::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-bottom: 0;
    border-left: .75em solid transparent;
    border-top: .75em solid #A36200;
    border-right: .75em solid transparent;
  }

  @include mq($from: u-bp-m) {
    &::before {
      left: inherit;
      right: 100%;
      top: inherit;
      transform: translateX(0);
      border-bottom: .75em solid transparent;
      border-left: 0;
      border-right: .75em solid #A36200;
      border-top: .75em solid transparent;
    }
  }
}

.c-portfolio-projects__project:nth-child(even) > .c-portfolio-project > .c-portfolio-project__body {
  order: 2;

  @include mq($from: u-bp-m) {
    order: 1;
  }
}

.l-portfolio-projects {
  display: flex;
  flex: 1 1 100%; // IE
  width: 100vw;
}

@include mq($from: u-bp-m) {
  .l-portfolio-projects__col--left {
    flex: 1 0 $portfolio-projects-project-margin-for-nav;
  }
}

@include mq($from: u-bp-xxl) {
  .l-portfolio-projects__col--left {
    display: none;
  }
}
