///*------------------------------------*\
//    # GRID
//\*------------------------------------*/

/**
 * Site wide grid
 */
.c-portfolio-grid {
  display: flex;
  flex-flow: column;
  height: 100vh;
  z-index: 10;
}

.c-portfolio-grid__section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include mq($from: u-bp-m) {
    padding-right: 10vw; // Keep room for site navigation
  }


}

.c-portfolio-grid__wrapper {
  display: flex;
  flex: 1;
  padding: 1vh 0;
  width: 100%;
}

.c-portfolio-grid__section:not([data-intro]) {
  @media (min-width: 1920px) {
    padding-left: 17vw;
    padding-right: 17vw;
  }
}
