///*------------------------------------*\
//    # PAGE
//\*------------------------------------*/

/**
 * Global basic page layout
 */
.c-portfolio-page__header {
  display: flex;
  width: 100vw;
  padding-left: 1em;
}

.c-portfolio-page-header__banner {
  border-bottom: .5vh solid $portfolio-page-header-primary-bg-color;
}

.c-portfolio-page__body {
  align-self: flex-start;
  display: flex;
  flex: 1;
  width: 100vw;
}

